target
out
logs
robots.txt
node_modules
release
tmp
_tmp
_book

.settings
.classpath
.project
.idea
.vertx
.lock
.gradle


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.log
*.class
*.war
*.ear
*.rdb
*.iml
*.freq

package-lock.json

*.db
